@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #04a1db;  
  --dark-primary-color: #0275d8;  
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hover{
  cursor: pointer;
}
.selected{
  background-color: #0477a0;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------- */


.mainContainer{
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.none{
  text-decoration: none;
  color: white;
}

body::-webkit-scrollbar {
  width: 5px;
}


body::-webkit-scrollbar {
  width: 5px;
}


.data-table-inner::-webkit-scrollbar-horizontal {
  width: 5px;
}