:root {
  --text-resetpassword-color: #969ab8;
}
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.main > .content {
  height: 490px;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.main > .content > .cont1 {
  height: 490px;
  width: 490px;
}
.main > .content > .cont1 > img {
  width: fit-content;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main > .content > .cont2 {
  height: 490px;
  width: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.main > .content > .cont2 > .item1 {
  height: 60px;
  font-size: 46px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main > .content > .cont2 > .item2 {
  height: 70px;
  width: 490px;
  /* font-size: 44px; */
  /* font-weight: 700; */
  text-align: center;
}
.main > .content > .cont2 > .item3 {
  height: 45px;
  width: 100%;
  display: grid;
  place-content: center;
  margin: 23px 0px;
}
.main > .content > .cont2 > .item3 > input {
  height: 45px;
  width: 480px;
  border-radius: 18px;
  padding: 17px;
  border: none;
  box-shadow: none;
  background-color: var(--white-color);
}
.main > .content > .cont2 > .item3 > input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 400;
}
.main > .content > .cont2 > .item4 {
  width: 160px;
  height: 50px;
  justify-self: center;
}
.main > .content > .cont2 > .item4 > button{
  width: 160px;
  height: 50px;
  justify-self: center;
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.1rem;
  border-radius: 25px;
}
.main > .content > .cont2 > .item5 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  color: var(--text-resetpassword-color);
}
.main > .content > .cont2 > .item5 > div {
  font-size: 18px;
}
.main > .content > .cont2 > .item1,
.main > .content > .cont2 > .item2,
.main > .content > .cont2 > .item3,
.main > .content > .cont2 > .item5 {
  width: 100%;
}

/* -------------------------------- */

:root {
  --text-resetpassword-color: #969ab8;
}
.mainDiv7 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainDiv7 > .content {
  height: 490px;
  width: 1100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
.mainDiv7 > .content > .cont1 {
  height: 490px;
  width: 490px;
}
.mainDiv7 > .content > .cont1 > img {
  width: fit-content;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.mainDiv7 > .content > .cont2 {
  height: 490px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.mainDiv7 > .content > .cont2 > .item1 {
  height: 60px;
  width: 100%;
  font-size: 46px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainDiv7 > .content > .cont2 > .item2 {
  height: 50px;
  width: 100%;
  /* font-size: 44px; */
  /* font-weight: 700; */
  text-align: center;
}

.mainDiv7 > .content > .cont2 > .item3 {
  height: 50px;
  width: 200px;
}
.mainDiv7 > .content > .cont2 > .item3 > button {
  height: 50px;
  width: 200px;
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.1rem;
  border-radius: 25px;
}
.mainDiv7 > .content > .cont2 > .item4 {
  width: fit-content;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  color: var(--text-resetpassword-color);
}
.mainDiv7 > .content > .cont2 > .item4 > div {
  font-size: 18px;
}
