@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-white {
  background-color: white !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.navbar {
  width: 100vw;
  height: fit-content;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
}

.link {
  text-decoration: none !important;
}

.bar ul {
  display: flex;
  height: 3.625rem;
  padding: 1.5rem 3.25rem;
  justify-content: center;
  align-items: center;
  gap: 3.625rem;
}

.bar li {
  cursor: pointer;
}

.logos {
  display: flex;
  gap: 1vw;
  background-color: transparent;
  align-items: center;
}

.logos img {
  mix-blend-mode: multiply;
  height: 50px;
}

#charusat {
  mix-blend-mode: multiply !important;
}

.login-signup {
  display: flex;
  gap: 1.5vw;
  align-items: center;
}

.signup,
.login {
  cursor: pointer;
  display: flex;
  padding: 0.5vw 1.5vw;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 2.4375rem;
  background: #eaf3fb;
  outline: none;
  border: 1px solid #035faa5e;
  font-size: 1rem; /* Initial font size */
  transition: all 0.5s ease; /* Smooth transition for all properties */
}

.signup:hover,
.login:hover {
  background-color: #0360aa; /* Background color change on hover */
  color: white;
  border: 1px solid #0360aa;
}

.signup:active,
.login:active {
  transform: translateY(2px); /* Move the button slightly down when clicked */
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .logos {
    gap: 0.5vw;
  }

  .logos img {
    height: 40px;
  }

  .login-signup {
    gap: 1.5vw;
  }

  .signup,
  .login {
    padding: 0.4vw 1.2vw;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .logos img {
    height: 35px;
  }

  .login-signup {
    gap: 1.5vw; /* Adjusted gap between login and signup buttons */
  }

  .signup,
  .login {
    padding: 0.3vw 0.9vw;
    font-size: 0.7rem; /* Reduced font size for smaller screens */
  }

  .link {
    font-size: 0.7rem; /* Adjusted link font size for smaller screens */
  }
}
