.main {
  width: 98.5vw;
  margin: 0 auto;
}

.questionContainer {
  width: 60% !important;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.questionBlock {
  margin-bottom: 20px;
}

.question {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.optionsList {
  list-style-type: none;
  padding: 0;
}

.option {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.option > label {
 
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.marks {
  font-weight: bold;
  color: #555;
}


@media (max-width: 768px) {
  .main{
   width: 100vw !important;
   margin: 0;
  }
  .questionContainer {
    padding: 15px; 
    width: 100% !important;
    margin: 0;
    border-radius:0;
    border: none;
    background-color: #f9f9f9;
  }

  .question {
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  .option {
    margin-bottom: 5px; /* Decrease margin */
  }
  body::-webkit-scrollbar {
    display: none;
  }
}