.quizContainer {
  margin: 20px;
  padding: 0px 60px;
}

.quizTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.quizInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.totalQuestions {
  font-size: 18px;
}

.totalMarks {
  font-size: 18px;
}

.questionBlock {
  margin-bottom: 20px;
}

.question {
  font-size: 20px;
}

.optionsList {
  list-style-type: none;
  padding: 0;
}

.option {
  margin-bottom: 10px;
}

.label{
  width: fit-content;
  display: flex;
  gap: 10px;
}

.marks {
  font-size: 16px;
  font-weight: bold;
}

.submitButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  border-radius: 5px;
}

.results {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
